*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #3b4664;
    color: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    position: relative;
}

header{
    font-size: 28px;
    margin-bottom: 1rem;
    display: flex;
    width: 536px;
    align-items: flex-start;
} 


.display{
    height: 143px;
    width: 536px;
    background :#181F32;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 55px;
    font-weight: 900;
    padding: 40px;
    gap: 5px;

}

.buttons{
    width: 536px;
    height: 487px;
    background: #252D44;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 2.5rem;    
    border-radius: 1rem;

}

button{
    width: 100px;
    height: 60px;
    border-radius: 12px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

}

#del, #reset{
    background: #647299;
    color: #fff;
    font-size: 24px;
}


#reset {
    background-color: #56679f;
    grid-column: span 2;
    width: 222px;
  }
  
#equals {
    background-color: #f04e3e;
    color: #fff;
    grid-column: span 2;
    width: 222px;
}







