*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #3b4664;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}


header{
    margin-top: 100px;
    text-align: center;
}


.display{

}